NODE_ENV=development
IS_DEV=true
ENV_NAME=development
APP_SECRET=super-secret-filpass-request-test
NEXT_PUBLIC_APP_URL=http://localhost:3000
APP_URL=http://localhost:3000
DATABASE_URL=postgresql://admin:my_super_secret_pw@localhost:5432/filpass
EMAIL_KEY=\$2b\$10\$x57L63SfVZazvxuCNpQ4\.e
TEAM_KEY=\$2b\$10\$x57L63SfVZazvxuCNpQ4\.e
MAILGUN_DOMAIN=
MAILGUN_API_KEY=
MAILGUN_SENDER_EMAIL=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
CRYPTO_ALGORITHM=aes-256-cbc
CRYPTO_SECRET_KEY=1234567891234567891234567891234567891234567891234567891234567891234
CRYPTO_SECRET_KEY_PII=1234567891234567891234567891234567891234567891234567891234567891234
NEXT_PUBLIC_SYSTEM_WALLET_ADDRESS=0x0000000000000000000000000000000000000000
SYSTEM_WALLET_PRIVATE_KEY=
NEXT_PUBLIC_MAX_TICKETS=500
NEXT_PUBLIC_SUBMIT_TICKET_DAYS=1
NEXT_PUBLIC_LOCK_DAYS=1
CHAINALYSIS_API_KEY=
TZ=GMT