option_settings:
  - namespace: aws:ec2:instances
    option_name: InstanceTypes
    value: m5.xlarge
  - namespace: aws:autoscaling:asg
    option_name: MinSize
    value: 1
  - namespace: aws:autoscaling:asg
    option_name: MaxSize
    value: 1
  - namespace: aws:autoscaling:launchconfiguration
    option_name: RootVolumeType
    value: gp2
  - namespace: aws:autoscaling:launchconfiguration
    option_name: RootVolumeSize
    value: '32'
  - option_name: NPM_CONFIG_UNSAFE_PERM
    value: true
  - option_name: NODE_OPTIONS
    value: --max-old-space-size=8192
